ES_USER=elasticsearch
ES_GROUP=elasticsearch

ES_HEAP_SIZE={{ elasticsearch_bootstrap.heapsize }}
ES_MAX_SIZE={{ elasticsearch_bootstrap.heapsize }}
ES_MIN_SIZE={{ elasticsearch_bootstrap.heapsize }}

MAX_LOCKED_MEMORY=unlimited

LOG_DIR={{ elasticsearch_path.logs }}
DATA_DIR={{ elasticsearch_path.data }}
WORK_DIR={{ elasticsearch_path.work }}
CONF_DIR={{ elasticsearch_path.conf }}
CONF_FILE=/etc/elasticsearch/elasticsearch.yml

ES_JAVA_OPTS="-Djava.net.preferIPv4Stack=true"
