########################################################################################################################
# {{ ansible_managed }}
# Please override /etc/elasticsearch/elasticsearch.yml first, using this file only as a last resort.
########################################################################################################################

